* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
}

.header {
    background-color: #f8f9fa;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #18779f;
    padding-top: 50px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: #fff;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header nav {
    margin-top: 60px;
    width: 100%;
    /* display: flex;
    justify-content: space-between; */
    /* background-color: #156487; */
}

.header nav ul {
    display: flex;
    justify-content: space-around;
    background-color: #156487;
    padding: 10px 0;
}

.header nav ul li {
    list-style: none;
    margin: 0 1px;
    font-size: 18px;
    width: 100%;    
    
    list-style: none;
    /* margin: 0 50px; */
    font-size: 18px;
    /* border: ; */
    cursor: pointer;
}

.header nav ul li:not(:last-child) {
  border-right: 1px #fff solid;
}

.header nav ul li a {
    text-decoration: none;
    color: #fff;    
    display: block;       
    width: 100%;
    height: 100%;
}

main {
  flex: 1 1 auto;
  min-height: 0;
}

iframe {
    width: 100%;
    height: 80vh;
    border: 0;
    flex: 1;
    display: block;
    overflow: hidden;
 } 
